// Variables
$bkg-color: #101820;
$primary: #6c7073;
$secondary: #dadada;
$complementary: #ff5758;
$letra: 'NeueMachina-Bold', cursive;
$max-width: 1280px;

// Estilos
@import "fonts";
@import "body";
@import "header";
@import "banner";
@import "skills";
@import "ig";
@import "footer";

//Sesiones internas
@import "blog";
@import "proyectos";